.header {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.25), 0 0px 18px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  position: sticky;
  top: 0px;
  z-index: 99;
  background-color: white;
}
.wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}

.menuWraper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menuItems {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menuItems p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-family: var(--font-primary);
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-500);
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}
