.banner {
  height: calc(100vh - 90px);
  background: url("../../assets/images/banner.png");
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 50px;
}

.banner .info {
  position: absolute;
  left: 6%;
  top: calc(35% - 14px);
  width: fit-content;
  width: -moz-fit-content;
  width: 300px;
  background-color: #d9d9d9cc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;
  text-align: center;
}

.banner .info h2 {
  font-size: 22px;
  margin-bottom: 16px;
  font-weight: normal;
}

.banner .info p {
  font-size: 16px;
  margin-bottom: 16px;
  font-weight: normal;
}
